body{
    font-family: "Josefin Sans", sans-serif;
}
header{
    width: 100%;
    height: 20%;
    align-items: center;

}
.contenedor{
    width: 100%;
    height: 60%;
    display: flex;
}
footer{
    width: 100%;
    height: 20%;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
ul{
    list-style-type: none;
    text-align: center;
    align-items: center;
}
ul li{
    display: block;
    padding: 10px;
    margin: 10px;
    margin-left: 5px;
    background-color: #D9D9D9;
    border-radius: 5px;
}
.logo_menu img{
    width: 100%;
    height: 100%;
    margin-left: 25px;
}
aside{
    width: 15%;
    height: 100%;
}
ul a img{
    width: 40%;
    height: 40%;
}
ul li a{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    align-items: center;
}
a{
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 8px;
}
a:hover{
    background-color: #BCCCCE;
    opacity: 0.8;
}
.banner{
    width: 80%;
    height: 20%;
    background-color: #D9D9D9;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-left: 40px;
}
.banner img{
  width: 20%;
  height: 20%;  
}
.log-out{
    width: 10%;
    height: 10%;
    margin-bottom: 5%;
    margin-top: auto;
    background-color: #BCCCCE;
    border-radius: 15px;
    align-items: center;
}
.log-out img{
    width: 70%;
    height: 70%;
}
.calendario{
    width: 50%;
    height: 40%;
    /* background-color: #D9D9D9; */
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-left: 40px;
    padding-top: 25%;
}